body{
  background-color: #E7FBB4!important;
}

a{
  text-decoration: none;
  color : #3D3D3D ;
  margin-left: 15px;          
  padding: 5px 10px;          
  display: inline-block;
}

h3{
margin-top : 110px;
width:50rem;
}

p{
  width : 55em;
}



#navbar {
  background-color: #578E7E;
  padding: 15px 0;  
  position: fixed;
  top : 0;
  left : 0;
  right: 0;
  padding-left: 15px;  
}



#button{
  background-color: rgb(61, 78, 231);
  text-decoration: none;
  border-radius: 16px;
  width : 90px;
  height: 30px;
}

#price{
  font-size: 20px;
  display: flex;
  justify-content: center;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 10% auto;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.see-more-btn {
  background: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.img{
  margin-top : 100px;
}

.button{
  background-color: #83cfbf;
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

.description{
  display: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding : 20px;
}

.profile-container{
  margin-top: 140px;
  display: grid;
}